* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  margin: 1rem 1rem;
  height: 4rem;
  background-color: aliceblue;
  padding: 0 1rem;
  /* transition: all 0.8s cubic-bezier(0, 0, 0.02, 1); */
  transition: all 0.8s cubic-bezier(0.27, 0.03, 0.02, 1);
  overflow: hidden;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 4rem; */
}

.menu {
  font-size: 2rem;
  color: rgba(167, 162, 155, 0.5);
}

/* .navbar.expanded {
  height: auto; 
} */

.navbar.expanded .bottom-bar {
  display: block; /* Show the extra links when the navbar is expanded */
}

.hero {
  padding: 0 1rem;
}

.bottom-bar {
  display: block;
}
